Debug/
Release/
.launches/
.DS_Store
.settings/
/targetConfigs/
/BuildOutputs/
/.metadata/
/Measurements/
/.energytrace/
/.jxbrowser-data/
/dvt/
/RemoteSystemsTempFiles/
*.c.bak
/.cproject
/.ccsproject
/.project
